<div id="homePage">
<img src="http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/logo.png", width="250">
<h1>New Flavour</h1>
<h2>Slogan</h2>
<%= form_for(@flavour) do |f| %>
<%= f.text_field :name, placeholder: 'Enter your name', class: 'nameInput' %>
<%= image_tag('next.png', class: 'findFlavourButton') %>
</div>

</div>
<div id='flavour-form'>
<%= render 'form' %>
</div>

<% end %>

