@font-face {
  font-family: "nandos-font";
  src: url('fonts/nandos-regular-webfont.woff');
}

body {
  margin: 0 auto;
  text-align: center;
}

div{
  &#homePage{
    height: 110%;
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/home_footer_texture.png");
    margin-bottom: -5px;
    img.nandosLogo {
      margin-top: 150px;
    }
    img.findFlavourButton {
      margin-top: 15px;
    }
  }
  &#flavour-form{
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/bg_body.jpg");
  }
}

h1 {
  margin-top: -15px;
  font-family: "nandos-font";
  font-size: 80px;
}

h2 {
  font-family: "nandos-font";
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 30px;
}

input.nameInput {
  font-family: "nandos-font";
  font-size: 18px;
  text-align: center;
  margin: 0 auto; 
  max-width: 300px;
  border: none;
  opacity: .5;
  border-radius: 100px;
  box-sizing: border-box;
  padding: .75em;
  transition: .5s ease;
}

// div.field > input{ 
//   visibility: hidden; 
//   position: absolute; 
// }
// div.field > input + img{
//   cursor:pointer;
//   border:2px solid transparent;
// }
// div.field > input:checked + img{
//   border:5px solid black;
// }

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: black;
}

div.field img {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

div.field img:hover {
    background-color: black;
}

