@font-face {
  font-family: "nandos-font";
  src: url('fonts/nandos-regular-webfont.woff');
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/home_footer_texture.png");
}

div{
  &#homePage{
    height: 110%;
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/home_footer_texture.png");
    margin-bottom: -5px;
    img.nandosLogo {
      margin-top: 150px;
    }
    img.findFlavourButton {
      margin-top: 15px;
    }
  }
  &#flavour-form{
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/bg_body.jpg");
    padding: 100px;
  }
}

h1 {
  margin-top: -15px;
  font-family: "nandos-font";
  font-size: 80px;
}

h2 {
  font-family: "nandos-font";
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 15px;
}

h3 {
  font-family: "nandos-font";
  color: #b71c20;
  font-size: 26px;
  padding-top: 50px;
}

h4 {
  font-family: "nandos-font";
  color: #aa4902;
  margin-top: 50px;
  margin-bottom: -15px;
  font-size: 50px;
}

p {
  font-family: "nandos-font";
  font-size: 28px;

}

input.nameInput {
  font-family: "nandos-font";
  font-size: 18px;
  text-align: center;
  margin: 0 auto; 
  max-width: 300px;
  border: none;
  opacity: .5;
  border-radius: 100px;
  box-sizing: border-box;
  padding: .75em;
  transition: .5s ease;
}

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: black;
}

div.field img {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

div.field img:hover {
    background-color: black;
}

div.field {
  background-color: #f5efdd;
  border-radius: 10px ;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 700px;
}


.line {
  margin-top: 215px;
  width: 100%;
}

div.results {
  margin: 0 auto;
   background: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/our_food/our-chicken-bg.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    max-width: 700px;
    margin-top: 50px;
  }

  h2 span {
    font-family: "nandos-font";
    color: #b71c20;
    font-size: 60px;
    padding-top: 50px;
  }

  div.results h2 {
    margin-top: 80px;
    padding-top: 50px;
  }

  div.results img {
    float: left;
    margin-top: -10px;
    margin-left: 70px;
  }
  
img.bob {
  width: 30px;
}

