@font-face {
  font-family: "nandos-font";
  src: url('fonts/nandos-regular-webfont.woff');
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/home_footer_texture.png");
}

div{
  &#homePage{
    height: 110%;
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/home_footer_texture.png");
    margin-bottom: -5px;
    img.nandosLogo {
      margin-top: 150px;
    }
    img.findFlavourButton {
      margin-top: 15px;
    }
  }
  &#flavour-form{
    background-image: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/layout/bg_body.jpg");
    padding: 100px;
  }
}

h1 {
  margin-top: -15px;
  font-family: "nandos-font";
  font-size: 80px;
}

h2 {
  font-family: "nandos-font";
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 15px;
}

h3 {
  font-family: "nandos-font";
  color: #b71c20;
  font-size: 26px;
  padding-top: 50px;
}

input.nameInput {
  font-family: "nandos-font";
  font-size: 18px;
  text-align: center;
  margin: 0 auto; 
  max-width: 300px;
  border: none;
  opacity: .5;
  border-radius: 100px;
  box-sizing: border-box;
  padding: .75em;
  transition: .5s ease;
}

div.field {
  background-image: url("nandosbg.png");
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.line {
  margin-top: 195px;
  width: 100%;
}

// #homePage .bottle {
//   position: absolute;
//   left: 730px;
//   bottom: 400px;
// }

div.results {
  margin: 0 auto;
   background: url("http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_our_menu_dynamic_bg.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    max-width: 700px;
    margin-top: 50px;
  }